* {
  font-family: 'Dancing Script', cursive;
  padding: 0px;
  margin: 0px;
  }

  body {
  background-color: #000000;
  } 

  .contenedor {
  margin: auto;
  background-color: #5b7989;
 max-width: 900px;
 border-radius: 10px 10px 0px 0px;
 animation: animationContenido 1.5s ;
}

 header {
 color: #ffffff;
 width: 100%;
 min-height: 100px;
 display: flex;flex-flow: row wrap;
 }

 .titulo {
  width: 65%;
  text-align: left;
  text-shadow: 2px 2px #02010a; margin-top: 25px;
  }

  .menubar {
  width: 35%;
  text-align: right;
  margin-top: 25px;
  }

  .subrayado {
  text-decoration: none;
  }

  li {
  display: inline;
  padding: 10px;
  margin-right: 5px;
  }

  .central {
  background-color: #82c3a6;
  text-align: center;
  border: 1px;
  }

  .imagencentral img {
  width: 85%;
  box-shadow: 2px 2px #02010a;
  }

  .secundaria {
  display: flex; flex-flow: row wrap;
  background-color: #d5c75f;
  border: 1px;
  text-align: center;
  }

  .secundaria div {
  width: 50%;
  }

  .secundaria div img {
   width: 80%;
   height: 70%;
   }

   .paisajes img:hover {
   transform: rotate(10deg);
   }

   .retratos img:hover {
   transform: translate(5px, -20px);
   }
   .paisajes img {
    box-shadow: 2px 2px #02010a;
    }

    .retratos img {
    box-shadow: 2px 2px #02010a;
    }

    .footer {
    display: flex; flex-flow: row;
    background-color: #C6d5c5;
    border: 1px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    }

    .footer div {
    width: 50%;
    }

    @media (max-width:900px) {

    header { height: 100% !important;
    width: 100%;
    display: flex; flex-direction: column;
    }

    .secundaria div {
    width: 100%
    }

    .secundaria {
    height: 33% !important;
    display: flex; flex-direction: column;
    }

    header div h1 {
      width: 100%;
    text-align: center !important;
    }

    .titulo {
      width: 100%;
      text-align: center;
    }

    .menubar {
    width: 100%;
    text-align: center
    }

    .menubar li {
    margin: auto !important;
    }

    ul {
    width: 100%;
    margin: auto !important;
    }

    .footer {
    height: 33% !important; display: flex; flex-direction: column;
    }
    }

    body {
    animation-duration: 10s;
    animation-name: slidein;
    }

@keyframes animationContenido {
  0% {
     margin-top: 150%;
    }
  60% {
    margin-top: -5%;
    }
   100% {
     margin-top: 0;
     }
   }
