* {
  font-family: 'Dancing Script', cursive;
  padding: 0px;
  margin: 0px;
}

body{
background-color: #000000;
}

.contenedor {
margin: auto;
background-color: #5b7989;
max-width: 900px;
border-radius: 10px 10px 0px 0px;
 animation: animationContenido 1.5s ;
}

header {
color: #ffffff;
width: 100%;
min-height: 100px;
display: flex;flex-flow: row wrap;
}

.titulo{
  width: 65%;
  text-align: left;
  text-shadow: 2px 2px #02010a;
  margin-top: 25px;
}

.menubar{
 width: 35%;
 text-align: right;
 margin-top: 25px;
}

.subrayado {
  text-decoration: none;
}

li {
  display: inline;
  padding: 10px;
  margin-right: 5px;
}

.forest {
  background-color: #d5c75f;
}

.forest div {
 display: flex;
 align-items: center;
 justify-content: space-around;
 padding: 0;
}

.forest div div{
  margin: 20px;
}

.forest div img {
  width: 100%
}



.footer{
display: flex;
flex-flow: row;
background-color: #C6d5c5;
border: 1px;
text-align: center;
border-radius: 0px 0px 10px 10px;
}

.footer div{
  width: 50%;
}

@media (max-width:900px){
header{
    height: 33% !important;
    display: flex;
    flex-direction: column;
}

header div h1{
  text-align: center !important;
}
.menubar li{
  text-align: center !important;
}
.footer{
    height: 33% !important;
    display: flex;
    flex-direction: column;
}
}

@keyframes animationContenido {
  0% {
     margin-top: 150%;
    }
  60% {
    margin-top: -5%;
    }
   100% {
     margin-top: 0;
     }
   }
